{% extends 'mainapp/base.html' %}
{% block content %}

<h3>Edit Student</h3>

{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

<form method="post" class="w-50">
    {% csrf_token %}

    <input class="form-control mb-2"
           type="text"
           name="name"
           value="{{ student.name }}"
           required>

    <input class="form-control mb-2"
           type="number"
           name="age"
           value="{{ student.age }}"
           required>

    <input class="form-control mb-2"
           type="text"
           name="course"
           value="{{ student.course }}"
           required>

    <button class="btn btn-primary">Update</button>
</form>

{% endblock %}
